<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wuhanzihai.rbk.ruibeikang">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络状态变化监听 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 读取电话状态权限 -->
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 收到短信权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- <uses-permission android:name="android.permission.READ_SMS" /> -->
    <!-- 读取联系人 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- 安卓储存访问权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 用户唤醒机器的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" /> <!-- 读写系统设置 -->
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" /> <!-- Optional for location -->
    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 请求安装权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 使用蓝牙设备的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 以上都是测试 需要优化 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE"/> -->
    <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <!--android:hardwareAccelerated="false"   硬件加速-->

    <application
        android:name=".common.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.LogisticsActivity"></activity>
        <activity android:name=".activity.CardStockRecordActivity" />
        <activity android:name=".activity.PayInterrogationActivity" />
        <activity android:name=".activity.ApplyLevelRecordActivity" />
        <activity android:name=".activity.ApplyLevelActivity" />
        <activity android:name=".activity.ShareHealthActivity" />
        <activity android:name=".activity.MyCardActivity" />
        <activity android:name=".activity.ShareRecordActivity" />
        <activity android:name=".activity.ApplyCardRecordDetailActivity" />
        <activity android:name=".activity.ApplyCardRecordActivity" />
        <activity android:name=".activity.ApplyCardDetailActivity" />
        <activity android:name=".activity.ApplyCardActivity" />
        <activity android:name=".activity.CardStockActivity" />
        <activity android:name=".activity.ApplyCashDetailActivity" />
        <activity android:name=".activity.InterrogationRecordActivity" />
        <activity android:name=".activity.ArchivesDetailActivity" />
        <activity android:name=".activity.ChatRoomActivity" />
        <activity android:name=".activity.DoctorActivity" />
        <activity android:name=".activity.AddArchivesActivity" />
        <activity android:name=".activity.ArchivesActivity" />
        <activity android:name=".activity.InterrogationActivity" />
        <activity android:name=".activity.RebateAddressActivity" />
        <activity android:name=".activity.RebateAuthActivity" />
        <activity android:name=".activity.DirectDetailActivity" />
        <activity android:name=".activity.ApplyCashRecordActivity" />
        <activity android:name=".activity.DirectlySuperiorActivity" />
        <activity android:name=".activity.RebateRecordActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.MyTeamActivity" />
        <activity android:name=".activity.ApplyPhoneActivity" />
        <activity android:name=".activity.ApplyCashProcessActivity" />
        <activity android:name=".activity.ApplyCashActivity" />
        <activity android:name=".activity.AddBankCardActivity" />
        <activity android:name=".activity.BankCardActivity" />
        <activity android:name=".activity.RebateActivity" />
        <activity android:name=".activity.HealthFoodActivity" />
        <activity android:name=".activity.PayResultActivity" />
        <activity android:name=".activity.SysMsgActivity" />
        <activity android:name=".activity.CollectActivity" />
        <activity android:name=".activity.StepRankActivity" />
        <activity android:name=".activity.GeneArchivesActivity" />
        <activity android:name=".activity.HealthArchivesActivity" />
        <activity android:name=".activity.CheckReportActivity" />
        <activity android:name=".activity.OrderServiceActivity" />
        <activity android:name=".activity.SureServiceOrderActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".activity.EditUserInfoActivity" />
        <activity android:name=".activity.SearchDetailActivity" />
        <activity android:name=".activity.ExchangeCouponActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.TravelWebActivity" />
        <activity android:name=".activity.SingleTravelActivity" />
        <activity android:name=".activity.SureOrderBuyActivity" />
        <activity android:name=".activity.StandardWebActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.GoodsServiceDetailActivity" />
        <activity android:name=".activity.HealthClassActivity" />
        <activity android:name=".activity.SubjectDetailActivity" />
        <activity android:name=".activity.AppointTravelActivity" />
        <activity android:name=".activity.PurifyTravelActivity" />
        <activity android:name=".activity.GoodsClassActivity" />
        <activity android:name=".activity.SportDataActivity" />
        <activity android:name=".activity.AuthListActivity" />
        <activity android:name=".activity.AuthActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.UnifiedWebActivity" />
        <activity android:name=".activity.HealthHabitsDetailActivity" />
        <activity android:name=".activity.ShoppingCartActivity" />
        <activity android:name=".activity.ClockDetailActivity" />
        <activity android:name=".activity.GoodsDetailActivity" />
        <activity android:name=".activity.SetTagActivity" />
        <activity android:name=".activity.SetSexActivity" />
        <activity android:name=".activity.CellularNutritionActivity" />
        <activity android:name=".activity.BloodPreDataDetailActivity" />
        <activity android:name=".activity.BloodPreDataDetailReadActivity" />
        <activity android:name=".activity.BloodPreDataActivity" />
        <activity android:name=".activity.BloodCheckActivity" />
        <activity android:name=".activity.BodyFatDataActivity" />
        <activity android:name=".activity.BodyFatActivity" />
        <activity android:name=".activity.MachineActivity" />
        <activity android:name=".activity.HealthCheckActivity" />
        <activity android:name=".activity.MusicTherapyActivity" />
        <activity android:name=".activity.BindBraceletActivity" />
        <activity android:name=".activity.BluetoothSetActivity" />
        <activity android:name=".activity.BluetoothMenuActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.SignActivity" />
        <activity android:name=".activity.CouponActivity" />
        <activity android:name=".activity.AddressActivity" />
        <activity android:name=".activity.SureOrderActivity" />
        <activity android:name=".activity.OrderServiceDetailActivity" />
        <activity android:name=".activity.AfterSaleActivity" />
        <activity android:name=".activity.OrderActivity" />
        <activity android:name=".activity.BIMCheckActivity" />
        <activity android:name=".activity.HealthCallActivity" />
        <activity android:name=".activity.HealthHabitsActivity" />
        <activity android:name=".activity.HealthCareDetailActivity" />
        <activity android:name=".activity.HealthCareActivity" />
        <activity android:name=".activity.AppointmentActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.AccompanyingActivity" />
        <activity android:name=".activity.AdultAccompanimentActivity" />
        <activity android:name=".activity.HealthDataActivity" />
        <activity android:name=".activity.HealthInfoDetailActivity" />
        <activity android:name=".activity.HealthInfoActivity" />
        <activity android:name=".activity.DietitianActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name="com.hhjt.baselibrary.zoomable.ImageShowActivity"/>

        <service
            android:name=".bluetooth.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service android:name=".media.MusicService" />
        <service android:name=".media.MusicOperationService" />

        <service android:name=".push.MyPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".push.MyPushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.wuhanzihai.rbk.ruibeikang" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 配置APP ID -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="5b7fbecce9" /> <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="shouyaojiank" />
    </application>

</manifest>